/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  font-family: var(--font-family-main);
  font-variation-settings: "wght" var(--font-weight-main-text);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Header*/

.content-block {
  width: var(--width);
  margin: 0 auto;
  background-color: var(--background-color);
}

.header {
  margin: 98px auto 96px auto;
  border: 3px solid var(--accent-color);
}

.header__elements {
  padding: var(--ht-padding) 0;
  text-align: center;
}

.header__text {
  font-family: var(--font-family-accent);
  color: var(--main-text-color);
  font-weight: var(--font-weight-accent);
}

/* h1 */
.header__title {
  font-size: var(--header-title-size);
  padding: 0 0 20px 0;
}

/* h2 */
.header__subtitle {
  font-size: var(--header-text-size);
  text-transform: uppercase;
}

/*Main, cards*/

.main-container {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr;
  width: var(--width);

  border: 2px solid var(--accent-color);
}

.card {
  display: grid;
}

.card_title {
  font-family: var(--font-family-main);
  font-variation-settings: "wght" var(--font-weight-main-title);
  font-size: var(--card-title-size);
  color: var(--title-color);
  padding: 4px 10px;
}

.card_description {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card_im-here .card_description {
  padding-bottom: 20px;
}

.card-text {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main-text);
  font-size: var(--card-title-size);
  color: var(--title-color);
}

.card__controls {
  display: grid;
  grid-template-columns: 38px 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-self: end;
  padding: 0 25px 25px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__label {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent);
  font-size: var(--button-text-size);
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  text-shadow: -1px -1px 0 var(--text-stroke-color),
    1px -1px 0 var(--text-stroke-color), -1px 1px 0 var(--text-stroke-color),
    1px 1px 0 var(--text-stroke-color);

  @supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    opacity: 50%;
  }
}

/* Стили для содержимого модального окна */

.modal {
  width: 353px;
  background-color: var(--background-color);
  border: 2px solid var(--title-color);
  box-sizing: border-box;
  padding: 30px;
}

.modal p {
  margin: 0;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  height: 100%;
}

.save-modal {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal[open]::backdrop {
  background-color: var(--backdrop-color);
}

/*.save-modal {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}*/

.modal__floppy-icon {
  width: 39px;
  height: 39px;
  fill: var(--text-color);
}

.save-modal p.button__text {
  text-align: left;
  text-transform: uppercase;
  line-height: 150%;
}

.modal__text {
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-main-text);
  font-size: 18px;
  color: var(--text-color);
}

/* Стили для кнопки "ОК" */
.modal__ok-button {
  max-width: 100%;
  height: 38px;
  padding: 7px 0;
  text-transform: uppercase;
}

/*.modal .modal__content .button__text {
  line-height: 1.5;
  text-align: center;
}

.modal__ok-button p.button__text {
  text-align: center;
}*/

/* Фильтры */

.card__image-wrapper {
  position: relative;
  width: 100%;
  height: var(--image-height);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-sepia {
  filter: sepia(0.7);
}

.filter-blur {
  filter: blur(1.5px);
}

.filter-brightness {
  filter: brightness(2.5);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-grayscale-blur {
  filter: grayscale(1) blur(1px);
}

.filter-saturate-hue {
  filter: saturate(1.5) hue-rotate(15deg);
}

/* Кнопки */

.button {
  border: 2px solid var(--accent-color);
  cursor: pointer;
  color: var(--text-accent);
  background-color: var(--text-accent);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-size: var(--button-text-size);
  color: var(--text-accent);
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-accent);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

/*Кнопка сохранить*/

.save-button {
  margin: 0 auto 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  block-size: 55px;
}

.save-button,
.modal__ok-button {
  inline-size: 335px;
}

.save-button__icon {
  width: 21px;
  height: 21px;
  fill: currentColor;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.save-button__text {
  display: inline-block;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; /* Или right: 0; в зависимости от направления */
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

/* Кнопка с сердцем */
.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--text-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: visible;
}

/* Состояние при фокусе, чтобы убрать стандартную обводку */
.card__icon-button:focus {
  outline: none;
}

/* Состояние при фокусе, которое видно пользователю */
.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.card__icon-button:active .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon {
  width: 100%;
  height: 100%;
  padding: 0;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s 1 forwards;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: appear-sparks 0.3s ease-in 0.3s 1 forwards;
  transform-origin: center center;
}

@media (width <= 375px) {
  .header {
    margin: 100px auto 60px;
  }

  .header__elements {
    padding: var(--ht-padding) 0 0;
    text-align: center;
  }
  .main-container {
    gap: 49px;
  }

  .card_description {
    padding: 25px 25px 20px 25px;
    gap: 25px;
  }

  .card__controls {
    padding: 0 25px 24px;
  }

  .card_im-here .card_description {
    gap: 18px;
    padding-bottom: 0;
  }

  .card_im-here .card__controls {
    padding-top: 0;
  }

  .modal {
    margin: 170px 17px;
    max-width: 341px;
    padding: 30px 40px;
  }

  .modal__content {
    gap: 15px;
  }

  .save-modal {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
  }

  .save-button__icon {
    width: 28px;
    height: 28px;
  }

  /* Кнопка сохранить */
  .save-button {
    display: flex;
    flex-direction: column;
    inline-size: 306px;
    height: 84px;
  }
}
